@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  /* background-color: #e2e0e0; */
  
  }

  html {
    @apply text-[12px] md:text-[14px] 2xl:text-[16px];
  }

  .main-container {
    @apply px-[4%];
  }
  
  .ios-background-fix {
    @supports (-webkit-overflow-scrolling: touch) {
      background-attachment: scroll;
    }
  }
  .card-shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  }